@import url('./variables.css');

@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.tech-icon {
  position: absolute;
  font-size: var(--font-size-icon);
  opacity: 0.15;
  animation: float 20s infinite ease-in-out;
  color: var(--color-text-white);
  text-shadow: var(--shadow-glow-white);
}

.tech-icon:nth-child(1) {
  left: 8%;
  top: 18%;
  animation-delay: 0s;
  animation-duration: 27s;
}

.tech-icon:nth-child(2) {
  left: 92%;
  top: 12%;
  animation-delay: 3.2s;
  animation-duration: 24s;
}

.tech-icon:nth-child(3) {
  left: 18%;
  top: 73%;
  animation-delay: 5.7s;
  animation-duration: 29s;
}

.tech-icon:nth-child(4) {
  left: 87%;
  top: 68%;
  animation-delay: 1.8s;
  animation-duration: 26s;
}

.tech-icon:nth-child(5) {
  left: 94%;
  top: 88%;
  animation-delay: 4.3s;
  animation-duration: 23s;
}

.tech-icon:nth-child(6) {
  left: 6%;
  top: 42%;
  animation-delay: 6.1s;
  animation-duration: 28s;
}

.tech-icon:nth-child(7) {
  left: 76%;
  top: 35%;
  animation-delay: 2.9s;
  animation-duration: 31s;
}

.tech-icon:nth-child(8) {
  left: 12%;
  top: 86%;
  animation-delay: 5.4s;
  animation-duration: 25s;
}

.tech-icon:nth-child(9) {
  left: 88%;
  top: 28%;
  animation-delay: 1.2s;
  animation-duration: 30s;
}

.tech-icon:nth-child(10) {
  left: 3%;
  top: 5%;
  animation-delay: 4.6s;
  animation-duration: 22s;
}


@keyframes float {

  0%,
  100% {
    transform: translateY(0) rotate(0deg) scale(1);
  }

  25% {
    transform: translateY(-12px) rotate(2deg) scale(1.03);
  }

  50% {
    transform: translateY(8px) rotate(-2deg) scale(0.98);
  }

  75% {
    transform: translateY(-6px) rotate(1deg) scale(1.02);
  }
}

.code-lines {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.code-line {
  position: absolute;
  font-family: var(--font-code);
  font-size: var(--font-size-xs);
  color: var(--color-code-line);
  white-space: nowrap;
  animation: scrollCode 15s linear infinite;
}

.code-line:nth-child(1) {
  top: 15%;
  animation-delay: -3s;
}

.code-line:nth-child(2) {
  top: 35%;
  animation-delay: -8s;
}

.code-line:nth-child(3) {
  top: 55%;
  animation-delay: -12s;
}

.code-line:nth-child(4) {
  top: 75%;
  animation-delay: -5s;
}

.code-line:nth-child(5) {
  top: 25%;
  animation-delay: -10s;
}

@keyframes scrollCode {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.particle {
  position: absolute;
  width: 4px;
  height: 4px;
  background: var(--color-particle);
  border-radius: 50%;
  box-shadow: var(--shadow-glow-particle);
  animation: particle 8s infinite ease-in-out;
}

@keyframes particle {

  0%,
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translate(var(--tx), var(--ty));
    opacity: 0;
  }
}